.profile__avatar-button {
  padding: 0;
  margin: 0;
  grid-area: pic;
  opacity: 1;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0;
  position: relative;
  transition: opacity .15s ease-in-out;
  z-index: 1;
  width: 120px;
  box-sizing: border-box;
}

.profile__avatar-button:hover {
  opacity: .8;
}

.profile__avatar-button::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: url(../../../images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px;
  opacity: 0;
  z-index: 2;
}

.profile__avatar-button:hover::after {
  opacity: 1;
}