.profile__edit-button {
  background: no-repeat center url(../../../images/button-edit.svg), transparent;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  grid-area: edit;
  position: relative;
  top: 12px;
}

.profile__edit-button:hover {
  opacity: .5;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    top: -6px;
    background-size: 7.5px 7.5px;
    justify-self: flex-start;
  }
}
