.popup__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 0;
  padding-bottom: 42px;
  align-self: flex-start;
}

@media screen and (max-width: 767px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 76px;
  }
}