.profile {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "pic name edit add"
  "pic text text add";
  padding-top: 40px;
  padding-bottom: 51px;
  align-items: center;
  grid-template-columns: 150px minmax(min-content, max-content) 24px 1fr;
}

@media screen and (max-width: 767px) {
  .profile {
    padding: 0 19px 36px;
    grid-template-areas:
    "pic pic"
    "name edit"
    "text text"
    "add add";
    justify-items: center;
    align-items: flex-end;
    grid-template-columns: 1fr .2fr;
    grid-template-rows: 162px 56px 30px 80px;
  }
}
