.header__logo {
    max-width: 142px;
    margin: 0;
    padding-top: 45px;
    padding-bottom: 41px;
}

@media screen and (max-width: 767px) {
    .header__logo {
      max-width: 103px;
      padding-top: 28px;
      padding-bottom: 32px;
      padding-left: 27px;
    }
  }
