.popup__save-button {
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  margin-top: 48px;
}

.popup__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .popup__save-button {
    margin-top: 45px;
    max-width: 238px;
  }
}