.popup__input {
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 25px;
  color: #000;
  box-sizing: border-box;
}

.popup__input:focus {
  outline: 1px solid blue;
}

.popup__input:nth-of-type(2) {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .popup__input {
    height: 26px;
  }
}

.popup__input::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color:  #C4C4C4;
}
.popup__input::-webkit-input-placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color:  #C4C4C4;
}

.popup__input::-moz-placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color:  #C4C4C4;
}

.popup__input::-ms-input-placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color:  #C4C4C4;
}
